@model OSBIDE.Web.Models.Analytics.Analytics

@using OSBIDE.Web.Models.Analytics

@Styles.Render("~/Content/bootstrap.css")

<section data-tab="Analytics" id="analytics" class="container-fluid">

    @using (Html.BeginForm("Analytics", "Analytics", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <input id="actionSelector" name="ActionSelector" type="hidden" value="@Model.WizardStep">

        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-11 wizard">
                <a data-wzstep="@WizardSteps.Criteria" class="current"><span class="badge">1</span> Criteria</a>
                <a data-wzstep="@WizardSteps.Refine"><span class="badge">2</span> Refine Data</a>
                <a data-wzstep="@WizardSteps.Procedure"><span class="badge">3</span> Procedure</a>
                <a data-wzstep="@WizardSteps.Results"><span class="badge">4</span> Analytic Results</a>
            </div>
        </div>

        if (Model.WizardStep == WizardSteps.Refine)
        {
            @Html.Partial("_refine", Model.ProcedureData)
        }
        else if (Model.WizardStep == WizardSteps.Procedure)
        {
            @Html.Partial("_procedure")
        }
        else if (Model.WizardStep == WizardSteps.Results)
        {
            @Html.Partial("_results")
        }
        else
        {
            @Html.Partial("_criteria", Model.Criteria)
        }
    }

</section>
