@using OSBIDE.Web.Models.ViewModels
@using OSBIDE.Web.Models
@using OSBIDE.Library.Models
@using System.Text
@model CourseDetailsViewModel
@{
    ViewBag.Title = Model.CurrentCourse.Name;
}
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            //create assignment dialog
            $('#create-assignment').dialog({
                autoOpen: false,
                height: 300,
                width: 500,
                modal: true,
                buttons: {
                    "Create Assignment" : function()
                    {
                        $("#create-assignment-form").submit();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function()
                {
                    allFields.val("").removeClass("ui-state-error");
                }
            });

            //register the icon click
            $("#create-assignment-link").click(function () {
                $('#create-assignment').dialog("open");
            });

            //delete assignment dialog
            $("#assignment-delete-dialog-confirm").dialog({
                resizable: false,
                autoOpen: false,
                height: 180,
                modal: true,
                buttons: {
                    "Delete Assignment": function () {

                        //redirect
                        var assignmentId = $("#assignment-delete-dialog-confirm").attr("data-id");
                        var url = "@Url.Action("DeleteAssignment")";
                        url += "/" + assignmentId;
                        window.location.href = url;
                    },

                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });

            //listener for delete assignment
            $(".delete-assignment-link").click(function (event) {
                event.preventDefault();
                $("#assignment-delete-dialog-confirm").attr("data-id", $(this).attr("data-id"));
                $("#assignment-delete-dialog-confirm").dialog("option", "title", "Delete " + $(this).attr("data-name") + "?");
                $("#assignment-delete-dialog-confirm").dialog("open");
            });
        });
    </script>

    <style type="text/css">

        #create-assignment-button
        {
            display:none;
        }
    </style>
}
<h2>@Model.CurrentCourse.Name</h2>
<section>
    <h1>
        @if (Model.Coordinators.Contains(Model.CurrentUser) == true)
        {
            <img src="~/Content/icons/add_up.png" alt="create assignment" title="create assignment" id="create-assignment-link" />
        }
    Assignments
</h1>
@if (Model.Assignments.Count < 1)
{
    @:There are no assignments for this course.
    }
else
{
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Due Date</th>
                <th>Files</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Assignment assignment in Model.Assignments)
            {
                <tr>
                    <td>
                        <a class="delete-assignment-link" data-id="@assignment.Id" data-name="@assignment.Name" href="@Url.Action("DeleteAssignment", new { id = assignment.Id })"><img src="~/Content/icons/delete_up.png" title="delete assignment" alt="delete assignment" /></a>
                    </td>
                    <td>@assignment.Name</td>
                    <td>@assignment.ReleaseDate</td>
                    <td>@assignment.DueDate</td>
                    <td></td>
                    <td>
                        <img src="~/Content/icons/add_up.png" alt="add file" title="add file" />
                        <ul>
                            @foreach (string file in Model.AssignmentFiles[assignment.Id])
                            {
                                <li>@file</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</section>
<section>
    <h1>
        @if (Model.Coordinators.Contains(Model.CurrentUser) == true)
        {
            <img src="~/Content/icons/add_up.png" alt="add file" title="add file" />
        }
        Course Documents
    </h1>
    @if (Model.CourseDocuments.Count < 1)
    {
        @:This course has no attached documents.
    }
    else
    {
        <ul>
            @foreach (string file in @Model.CourseDocuments)
            {
                <li>@file</li>
            }
        </ul>
    }
</section>
<div id="assignment-delete-dialog-confirm" title="Delete this assignment?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This assignment will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
@Html.Partial("CreateAssignment", new Assignment() { CourseId = Model.CurrentCourse.Id })