@model OSBIDE.Web.Models.AdminDataImport
@using OSBIDE.Web.Models.Analytics

@Styles.Render("~/Content/bootstrap.css")

<section data-tab="Admin">

    @{
        ViewBag.Title = "Admin Controls";
        bool uploadRosterResult = false;
        if (ViewBag.UploadResult != null)
        {
            uploadRosterResult = ViewBag.UploadResult;
        }
    }

    @if (uploadRosterResult == true)
    {
        <div class="notice row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4">
                Roster import complete.
            </div>
        </div>
    }

    @using (Html.BeginForm("UploadRoster", "Admin", new { }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4">
                <h2>Upload Files</h2>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <p>
                    By using this form, you can automatically set up subscriptions for students, instructors, and TAs in a given section.
                    To do so, simply upload a two-column CSV file that lists student ID numbers and the desired section number.
                </p>
                <p>
                    Grade or class surveys xlsx files can also be uploaded using this form.
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <input type="file" id="file" name="file" />
                <div id="fileMsg" class="field-validation-error"></div>
            </div>
        </div>
        <div class="form-group context-section">
            <div class="row form-group">
                <label class="col-xs-2 control-label">Course:</label>
                <div class="col-xs-3">
                    @Html.DropDownListFor(m => m.CourseId, new SelectList(CriteriaLookups.Courses, "CourseId", "DisplayText"), new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                <label class="col-xs-2 control-label">Deliverable:</label>
                <div class="col-xs-3">
                    @Html.DropDownListFor(m => m.Deliverable, new SelectList(CriteriaLookups.Deliverables), new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <input id="upload" type="submit" value="Upload" disabled="disabled" />
            </div>
        </div>
    }

</section>

@*"self-contained" doc utils*@
<section data-type="doc-utils">

    <div class="row form-group">
        <span class="col-xs-2"></span>
        <div class="col-xs-2">
            <button class="col-xs-8" id="doc-util">Run Doc Utils</button>
        </div>
        <img data-type="spinner" src="@Url.Content("~/Content/icons/spinner.gif")" class="col-xs-1" />
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            $("img[data-type='spinner']").hide();

            $("#doc-util").click(function () {

                $(this).prop("disabled", true);
                $("img[data-type='spinner']").show();

                $.getJSON("@Url.Content("~/Analytics/RunDocUtils")", function () {

                    $("#doc-util").prop("disabled", false);
                    $("img[data-type='spinner']").hide();
                });
            })
        });

    </script>

</section>